*{
    transition: .3s;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Reey-Regular";
    src: url(fonts/Reey-Regular.otf);
}

body{
    font-family: "Open sans", sans-serif;
}
/* .uk-container{
    max-width: 100%;
} */

header{
    background: url(../img/Header_Background.png) no-repeat center center / cover;
}
header nav{
    background: transparent !important;
    font-size: 16px;
    margin-top: 50px;
}
header .uk-navbar{
    background: transparent;
}
header .uk-navbar > div{
    margin-left: auto;
}
header .uk-navbar a {
    font-weight: 600;
    color: white;
    min-height: 0px !important;
    margin: 0 15px;
    padding: 0;
    overflow: hidden;
    transform: scale(1.0);
    letter-spacing: 1.3px;
}
header .uk-navbar a::before{
    top: 0;
    left: -100%
}
header .uk-navbar a::after{
    right: -100%;
    bottom: 0;
    transition: .3s;
}
header .uk-navbar a::before,header .uk-navbar a::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #fae360;
    position: absolute;
    transition: .3s;
}
header .uk-navbar li:hover a{
    color: #fae360;
    transition: .5s;
}
header .uk-navbar li:hover a::before{
    left: 0px;
    transition: .4s;
}
header .uk-navbar li:hover a::after {
    right: 0px;
    transition: .4s;
}
header form {
    max-height: 50px;
    display: flex;
    position: relative;
    margin-left: 45px;
}
header form input{
    border: 0px;
    border-radius: 50px;
    padding: 10px 20px;
}
header form img{
    position: absolute;
    right: 20px;
    width: 20px;
    top: 7px;
    height: 20px;
}
header .content {
    display: flex;
    width: 100%;
    margin-top: 95px;
    padding-bottom: 120px;
}
header .content .text{
    flex-direction: column;
    color: white;
}
.font_reey{
    font-family: "Reey-Regular",fantasy;
}
header .content .text img{
    width: 140px;
}
header .content .text h1{
    color: white;
    font-size: 91px;
    text-transform: capitalize;
}
header .content .text p.subtitle{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-style: italic;
    font-size: 25px;
    margin-top: 120px;
    margin-bottom: 65px;
}
header .content .text .btn{
    text-transform: uppercase;
    padding: 17px 40px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    background: white;
    color: #2e3034;
}
header .content .text .description{
    margin-top: 25px;
    font-size: 21px;
    font-style: italic;
    letter-spacing: 1.5px;
    word-break: break-all;
    width: 80%;
}
header .content .imgs{
    display: flex;
    flex-direction: column;
    position: relative;
}
header .content .imgs img:nth-child(1){
    margin-top: 50px;
    margin-left: 30px;
}
header .content img:nth-child(2){
    position: absolute;
    bottom: -150px;
    left: -150px;
    margin-left: 30px;
}
header .leaves{
    right: 0;
    position: absolute;
    top: 70%;
}
section.second > div > h1{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 80px;
}
section.second > div > p {
    font-size: 27px;
    margin: 0px auto;
    margin-top: 60px;
    text-align: center;
    width: 65%;
    color: black;
}
section.second .menu_food{
    justify-content: space-between;
    margin-top: 90px;
}
section.second .menu_food li{
    max-width: 32%;
}
section.second .menu_food img{
    height: 380px;
}
section.second .menu_food h4{
    font-size: 29px;
    font-weight: bold;
    margin-top: 40px;
}
section.second .menu_food span{
    margin-top: 25px;
    font-size: 23px;
}
section.second a.btn{
    background: #343434;
    color: white;
    border-radius: 50px;
    width: 330px;
    padding: 20px 0px;
    margin: 0px auto;
    margin-top: 125px;
    margin-bottom: 50px;
    border: 3px solid transparent;
    text-align: center;
    font-weight: 900;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: block;
    position: relative;
    z-index: 3;
}
section.second a.btn:hover{
    border: 3px solid #343434;
    color: #343434;
    background: transparent;
    text-decoration: none;
}